<div class="users__list">
  <div class="users__list--photo">
    <%= image_tag @user.photo, :class => 'img' %>
  </div>
  <div class="users__list--details">
    <h4 class="name"><%= @user.name %></h4>
    <p class="posts-counter">Number of posts: <strong><%= @user.posts_counter %></strong></p>
  </div>
</div>

<div class="bio">
  <h4>Bio</h4>
  <p><%= @user.bio %></p>
</div>

<% @posts.each.with_index(1) do |post, index| %>
  <div class="posts">
    <strong>Post #<%=index %></strong>
    <p><%= post.text %></p>
  </div>
<% end %>
